@import "../../styles/partials/mixins";
.pagination {
  margin: 1.5rem;
  display: flex;
  justify-content: center;

  @include desktop {
    max-width: 1000px;
    margin: 2rem auto;
  }
  &__list {
    list-style: none;
    padding: 0;
    display: flex;

    &__item {
      list-style: none;
      width: fit-content;
      padding: 0.5rem;
      cursor: pointer;
      border: 1px solid gray;
      &--highlight {
        background: lightgray;
      }
    }
  }

  &__text {
    font-size: 1.5rem;
    align-self: center;
    cursor: pointer;
    border: 1px solid gray;
    &--hidden {
      visibility: hidden;
    }
  }
}
