.main {
  &__container {
    margin: 1.5rem;
    border: 2px solid white;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }
}

.spacecrafts {
  margin: 0 0 0 2rem;
  border-bottom: 2px solid grey;

  &:nth-last-of-type(1) {
    border-bottom: none;
  }
}

.input {
  border-radius: 16px;
  height: 1.5rem;
  border: none;

  &--error {
    &:focus {
      outline: 2px solid red;
    }
  }
}
