.main {
  &__container {
    margin: 1.5rem;
    border: 2px solid white;

    &__text {
      text-align: center;
      color: red;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.5rem;

    &__title {
      font-size: 1.3rem;
    }
  }
}

.spacecrafts {
  margin: 0 0 0 1.5rem;
  border-bottom: 2px solid grey;

  &:nth-last-of-type(1) {
    border-bottom: none;
  }
}

.input {
  border-radius: 16px;
  height: 1.5rem;
  border: none;
  width: 7rem;

  &::placeholder {
    padding-left: 0.5rem;
  }
  &--error {
    outline: 2px solid red;
  }
}
